@font-face {
  font-family: "iconfont"; /* Project id 3411896 */
  src: url('iconfont.woff2?t=1654872755823') format('woff2'),
       url('iconfont.woff?t=1654872755823') format('woff'),
       url('iconfont.ttf?t=1654872755823') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e706";
}

.icon-lx-server:before {
  content: "\e650";
}

.icon-cloud:before {
  content: "\e6f9";
}

.icon-home:before {
  content: "\e701";
}

.icon-link:before {
  content: "\e704";
}

.icon-video:before {
  content: "\e722";
}

.icon-music:before {
  content: "\e924";
}

.icon-comment:before {
  content: "\e7c4";
}

.icon-images:before {
  content: "\e680";
}

.icon-domainyuming:before {
  content: "\e714";
}

.icon-set_about_hov:before {
  content: "\e688";
}

.icon-hc-archive:before {
  content: "\e604";
}

.icon-github:before {
  content: "\e723";
}

.icon-tag-color:before {
  content: "\e626";
}

.icon-categories:before {
  content: "\e6a0";
}

.icon-a-my_icon_comment2x:before {
  content: "\e620";
}

.icon-logo-vercel:before {
  content: "\e8c0";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-bilibili:before {
  content: "\e609";
}

